<!doctype html>
<html lang="en" style="width:100%;height:100%;margin:0;padding:0;border:0;">
<head>

    <meta charset="utf-8">
    <base target=“_blank”>
    <script src="/widgets/cc-baselib/static/vue.js"></script>
    <script src="/widgets/cc-baselib/static/element-ui/index.js"></script>
    <script src="/widgets/cc-baselib/static/axios.min.js"></script>
    <script src="/widgets/cc-baselib/static/vue-clipboard.min.js"></script>
    <script src="/widgets/cc-baselib/static/vue-router.js"></script>
    <script src="/widgets/cc-baselib/static/httpVueLoader.js"></script>
    <script src="/widgets/cc-baselib/static/jszip.min.js"></script>
    <script src="/widgets/cc-baselib/static/Sortable.min.js"></script>
    <script src="/widgets/cc-baselib/static/vuedraggable.umd.min.js"></script>

    <script src="/widgets/cc-baselib/src/commonFunctionsForSiyuan.js"></script>
    <script src="/widgets/cc-baselib/src/siYuanApi.js"></script>
    <script src="/widgets/cc-baselib/src/componentsList.js"></script>

    <link rel="stylesheet" href="/widgets/cc-baselib/static/element-ui/theme-chalk/index.css">
    <link id='themeDefaultStyle'>
</head>
<body>
    <div id="app" style="width: 100vw; height: 100vw" v-on:mousemove="计算坐标($event)" v-on:paste="黏贴内容($event)" >
        <div >
            
            <el-card body-style	="border:solid 1px;
                                border-radius:5px;
                                position: fixed;
                                background-color:white ;
                                width: 70px;z-index:251">
                <el-popover
                trigger="click"
                >
                    <cc-assets-selector
                    v-model="图片源"
                    :apitoken="apitoken"
                    :思源伺服ip="思源伺服ip"
                    :k="图片格式"
                    ></cc-assets-selector>
                
                        <el-select
                            v-model="图片格式"
                            size="mini"
                            allow-create
                            filterable
                            >
                            <el-option
                            v-for="格式 in 格式列表"
                            :label="格式"
                            :value="格式"
                            >    
                            </el-option>
                        </el-select>
                    <div slot="reference" style="position:absolute;left:10px;top: 10px;z-index:251" class="el-icon-folder"></div>
                </el-popover>
                <div  
                style="position:absolute;left:30px;top: 10px;z-index:251" 
                class="el-icon-plus"
                @click="定点添加=true"
                ></div>
                <span
                v-if="定点添加"
                :style="`position:absolute;left:${当前鼠标坐标.x+30}px;top: ${当前鼠标坐标.y+30}px;z-index:251`" 
                >点击添加标签</span>
                <el-popover
                trigger="hover"
                >
                <div  slot="reference"
                style="position:absolute;left:50px;top: 10px;z-index:251" 
                class="el-icon-zoom-in"
                ></div>
                <el-input-number size="mini" type="number" v-model="图片缩放倍数" :min="0.1" :max="100" :step="0.1"></el-input-number>
                <el-switch v-model="协同缩放" active-text="同时缩放标签坐标"></el-switch>
                </el-popover>
                <el-popover
                trigger="hover"
                >
                <div  slot="reference"
                style="position:absolute;left:70px;top: 10px;z-index:251" 
                class="el-icon-help"
                ></div>
                <div v-for="不可见标记 in 不可见标记数组" @click="定位至标记(不可见标记)">标签{{不可见标记.index}}坐标:{{不可见标记.left}}|{{不可见标记.top}}</div>
                </el-popover>
                <el-popover
                trigger=hover
                >
                <div slot="reference" class="el-icon-browser" style="position:absolute;left:90px;top: 10px;z-index:251" @click="打开新窗口()"></div>
                <el-input v-model="数据源id" :disabled="$挂件模式()"><span slot = "prepend">数据源id:</span> </el-input>
                </el-popover>
            </el-card>
            <image
            @click="增加标记()"
            @contextmenu.prevent = "打开右键菜单()"
            v-on:mousedown="当前激活标签类型=''"
            style="width:100%;height:100%"
            :src="内部图片源"
            fit="contain"
            ref="image">
            </image>  
            <el-popover
            popper-class="tagpoper"
            trigger="hover"
            :open-delay="300"
            placement="right"
            :width="100"
            v-for="(item,i) in 标记数组"
            v-if="item.folded"
            >
                <div 
                class="lableFolded"
                :index="i"
                slot="reference"
                @mousedown="开始拖拽($event)" @mouseup="结束拖拽()"
                :style="`position: absolute;                
                top:${item.top+'px'};
                left:${item.left+'px'};
                border:solid ${item.borderColor} 3px;
                background-color:${item.backgroundColor};
                color:${item.color};
                width:15px;
                height:15px;
                min-width:15px;
                min-height:15px;
                max-width:15px;
                max-height:15px;
                border-radius:100%;
                text-align:center;
                padding-bottom:3px
                `" 
                @dblclick="item.folded=!item.folded"
                >{{i}}</div>
                <div :style="`
                overflow:hidden;
                border:solid ${item.borderColor} 1px;
                background-color:${item.backgroundColor};
                border-radius:5px`">
                <cc-link-siyuan
                    :style="`color:${item.color};`"
                    :锚文本="item.anchor"

                    :链接id="item.def_block"
                ></cc-link-siyuan>
               
                    <div   
                    :style="`font-size:xx-small;color:${item.color}`" >双击标记展开,拖拽移动</div>
                
                </div>
            </el-popover>
            <div :style="`position: absolute;                
            top:${item.top+'px'};
            left:${item.left+'px'};
            `" 
            :id="'tag'+i"
            v-for="(item,i) in 标记数组"
            v-if="!item.folded"
            >   
                <div 
                :style="`position:absolute;
                overflow:hidden;
                border:solid ${item.borderColor} 1px;
                background-color:${item.backgroundColor};
                width:${item.width+'px'};
                height:${item.height+'px'};
                border-radius:5px`
                "
                >
                <span class="el-icon-rank" :index="i" @mousedown="开始拖拽($event)" @mouseup="结束拖拽()"></span>
                <span class="el-icon-edit" @click="当前激活标签序号=i;显示对话框=true"></span>
                <span class="el-icon-crop" @click="item.showhandler=!item.showhandler" v-if="!item.showhandler"></span>
                <span class="el-icon-view" @click="item.folded=!item.folded" ></span>
                <span class="el-icon-delete" @click="移除标签(i)" ></span>
                <span class="el-icon-share" @click="展开链接面板(i)" ></span>

                <div :style="`color:${item.color};`"
                > 
                <cc-link-siyuan
                :style="`color:${item.color};`"
                :锚文本="item.anchor"
                :链接id="item.def_block"
                    ></cc-link-siyuan>
                </div>
                </div>
                
                <div 
                class="top-left-handler"
                :id="'top-left-handler'+i"
                :index="i"
                style="z-index:252;
                position:absolute;top:-5px;
                left:-5px;
                border:solid grey 1px;
                border-radius: 100%;
                background-color: honeydew;
                
                width:10px;height:10px"
                v-if="item.showhandler"
                v-on:mouseup="item.showhandler=false;结束拖拽()"
                v-on:mousedown="开始拖拽($event);"
                ></div>
               
                <div 
                class="bottom-right-handler"
                :index="i"
                :id="'bottom-right-handler'+i"
                :style="`z-index:252;
                position:absolute;
                top:calc(${item.height+'px'} - 5px);
                left:calc(${item.width+'px'} - 5px);
                border:solid grey 1px;
                border-radius: 100%;
                background-color: honeydew;
                width:10px;height:10px`"
                v-if="item.showhandler"
                v-on:mouseup="item.showhandler=false;结束拖拽()"
                v-on:mousedown="开始拖拽($event)"
                ></div>
            </div>
            <el-dialog
            title="编辑"
            :visible.sync="显示对话框"
            width="50%"
            :close-on-click-modal="false"
            >
            <el-input 
            size="mini"
            v-model="当前块引"><span slot="prepend">来源块</span></el-input>
            <div>锚文本:</div>
            <el-input
            v-model="当前锚文本"
            type=textarea
            >

            </el-input>
            <el-divider></el-divider>
            <el-row>
            <el-col :span=6>
            <el-popover
            trigger="click"
            width="350">
            <div slot="reference" :style="'color:'+当前文字色+';font-weight:bolder;text-decoration:underline 4px'">A</div>
            <h3>文字</h3>    

            <cc-color-pane
                v-model="当前文字色"
                :自定义颜色数组="自定义颜色数组"
                ></cc-color-pane>
            </el-popover>
            </el-col>
            <el-col :span=6>
                <el-popover
                trigger="click"
                width="350">
                <div slot="reference" :style="'background-color:'+当前背景色+';width:24px;height:24px;border:solid 1px;margin:2px'"></div>
                <h3>背景</h3>    

                <cc-color-pane
                    v-model="当前背景色"
                    :自定义颜色数组="自定义颜色数组"
                    ></cc-color-pane>
                </el-popover>  
            </el-col>  
            <el-col :span=6>
                <el-popover
                trigger="click"
                width="350">
                <div slot="reference" :style="`background-color:'';width:24px;height:24px;outline:solid 6px ${当前边框色};margin:2px`"></div>
                <h3>边框</h3>    
                <cc-color-pane
                    v-model="当前边框色"
                    :自定义颜色数组="自定义颜色数组"
                ></cc-color-pane>
            
                </el-popover>  
            </el-col>  
            </el-row>
            <span slot="footer" class="dialog-footer">
                <el-button @click="显示对话框 = false" size="mini">取消</el-button>
                <el-button @click="显示对话框 = false;设定当前标记()" size="mini">确定</el-button>

            </span>
            </el-dialog>
           
            <div :style="`position:absolute;top:${窗口大小.height}px;left:${窗口大小.width}px;width:10px;height:10px`"></div>
        </div>
        <el-card
        body-style="border-radius:5px;
                    padding:10px;
                    border:solid black 1px;
                    position: fixed;
                    background-color:white ;
                    position: fixed;top:10px;
                    left:calc(100vw - 250px);
                    width:200px;
                    height:200x;
                    max-height:90%;
                    max-width:200px;
                    z-index:252;
                    overflow:scroll;
                    resize:vertical
                    "
        >
        <span style="font-size: xx-small;" 
        @click="定位至标记(标记数组[当前反向链接列表['index']])"
        v-if="当前反向链接列表['index']>0"
        >
            标签{{当前反向链接列表.index}}坐标:{{标记数组[当前反向链接列表['index']].left}}|{{标记数组[当前反向链接列表['index']].top}}
        </span>
        <h5 style="margin:0px">反向链接:
            <el-tooltip effect="dark" v-if="显示反向链接" content="收起" placement="top-start">
                <span class="el-icon-arrow-up"  @click="显示反向链接=!显示反向链接"></span>
            </el-tooltip>
            <el-tooltip effect="dark" v-if="!显示反向链接" content="展开" placement="top-start">
                <span class="el-icon-arrow-down"  @click="显示反向链接=!显示反向链接"></span>
            </el-tooltip>
        </h5>


        <div v-if="显示反向链接" style="margin:5px 0px" v-for="item in 当前反向链接列表['backlinks']">
            <cc-link-siyuan
                :链接id="item.id"
            ></cc-link-siyuan>
            <el-tooltip effect="dark" content="复制到剪贴板" placement="top-start">
            <span class="el-icon-document-copy" @click="$copyText(item.id)"></span>
            </el-tooltip>
            <div style=" font-size: x-small;margin:5px 0px;color:gray;max-height:3em;overflow: hidden;text-overflow:ellipsis;" v-for=" child in item.blocks">
                <el-tooltip effect="dark" content="复制到剪贴板" placement="top-start">
                    <span class="el-icon-document-copy" @click="$copyText(child.id)"></span>
                    </el-tooltip>
                <cc-link-siyuan
                :链接id="child.id"
                ></cc-link-siyuan>
                
            </div>
        </div>
        <el-divider></el-divider>
        <h5  style="margin:0px">提及:
            <el-tooltip effect="dark" v-if="显示提及" content="收起" placement="top-start">
                <span class="el-icon-arrow-up"  @click="显示提及=!显示提及"></span>
            </el-tooltip>
            <el-tooltip effect="dark" v-if="!显示提及" content="展开" placement="top-start">
                <span class="el-icon-arrow-down"  @click="显示提及=!显示提及"></span>
            </el-tooltip>
        </h5>
        <div v-if="显示提及" style="margin:5px 0px" v-for="item in 当前反向链接列表['backmentions']">
           
            <cc-link-siyuan
                :链接id="item.id"
            ></cc-link-siyuan>
            <el-tooltip effect="dark" content="复制到剪贴板" placement="top-start">
            <span class="el-icon-document-copy" @click="$copyText(item.id)"></span>
            </el-tooltip>
            <div style=" font-size: x-small;margin:5px 0px;color:gray;max-height:3em;overflow: hidden;text-overflow:ellipsis;" v-for=" child in item.blocks">
                <el-tooltip effect="dark" content="复制到剪贴板" placement="top-start">
                    <span class="el-icon-document-copy" @click="$copyText(child.id)"></span>
                    </el-tooltip>
                <cc-link-siyuan
                :链接id="child.id"
                ></cc-link-siyuan>
                
            </div>
        </div>
        </el-card>
    </div>
</body>
<script>
    Vue.use(httpVueLoader);
    Vue.use(httpVueLoader);

    Vue.use(vuedraggable);
    var vm = new Vue({
        el: "#app",
        components:componentList,
        mounted:async function(){
            this.主界面=window.parent.document
            this.思源伺服ip=window.location.host
            await this.初始化()
           
        },
        data() {
            return {
                显示反向链接:false,
                显示提及:false,
                数据源id:"",
                协同缩放:false,
                窗口大小:{},
                主界面:{},
                内部图片源:"",
                图片源:"",
                图片格式:"jpg",
                思源伺服ip:"",
                apitoken:"",
                格式列表:["jpg","png","jpeg"],
                挂件自身元素:"",
                标记数组:[{
                        "def_block":"",
                        "anchor":"锚文本为空时显示来源块内容",
                        "top":100,
                        "left":100,
                        "width":100,
                        "height":100,
                        "color":"black",
                        "backgroundColor":"yellow",
                        "borderColor":"red",
                        "showhandler":false,
                        "folded":true}
                    ],
                当前激活标签序号:null,
                当前激活标签类型:"",
                当前鼠标坐标:{x:"",y:""},
                显示对话框:false,
                当前块引:"",
                自定义颜色数组:[],
                当前边框色:"",
                当前背景色:"",
                当前文字色:"",
                图片缩放倍数:"",
                当前激活id:"",
                当前反向链接列表:{"index":-1},
                保存计数器:1,
                定点添加:false,
                不可见标记数组:[],
                当前锚文本:"",
            }
        },
        watch:{
           
            图片缩放倍数:async function(val,oldval){
                if(val){
                let that = this
                let image=this.$refs["image"]
                let id = this.数据源id

                image.style.width=image.naturalWidth*that.图片缩放倍数+"px"
                image.style.height=image.naturalHeight*that.图片缩放倍数+"px"
                try{this.挂件自身元素.setAttribute("custom-resize",val)}catch(e){}
                设置思源块属性(this.思源伺服ip,this.apitoken,id,"resize",JSON.stringify(val))              
                if(this.协同缩放){
                this.标记数组.forEach(标记 => {
                    标记.top=标记.top*val/oldval
                    标记.left=标记.left*val/oldval

                });}
            
                }else{await this.初始化()}
            },
            图片源:async function(val){
                if(val){
                let that = this
                console.log(this.图片源)
                let url= "http://"+this.思源伺服ip
                let assetpath=this.图片源.replace(url,"").replace("http://127.0.0.1:6806","")
                let id = this.数据源id
                try{this.挂件自身元素.setAttribute("custom-data-assets",assetpath)}catch(e){}
                设置思源块属性(this.思源伺服ip,this.apitoken,id,"custom-data-assets",assetpath)  
                设置思源块属性(this.思源伺服ip,this.apitoken,id,"data-assets",assetpath)              
                if(val){this.内部图片源=val}
                console.log(this.$refs["image"])
                let image=this.$refs["image"]
                image.onload=function(event){
                
                console.log(event.target)
                console.log(event.target.naturalWidth,event.target.naturalHeight)
                event.target.style.width=event.target.naturalWidth*that.图片缩放倍数+"px"
                event.target.style.height=event.target.naturalHeight*that.图片缩放倍数+"px"}
                }
            },
            内部图片源(val){
                if (this.图片源!=val){
                    this.图片源=val
                }
            },
            当前激活标签序号(val){
                console.log(val)
                if(val!=null){
                this.当前块引=this.标记数组[val]["def_block"]}
            },
            标记数组:{
                handler(val,oldval){
                    if(!this.$挂件模式()){return null}
                    let id = this.数据源id
                    if(val){
                        try{this.挂件自身元素.setAttribute("custom-tagarray",JSON.stringify(val))}catch(e){}
                        let that = this 
                        
                    }
                },
                deep:true
            },
            显示对话框(val,oldval){
                if(val){
                this.当前块引=this.标记数组[this.当前激活标签序号]["def_block"]
                this.当前背景色=this.标记数组[this.当前激活标签序号]["backgroundColor"]
                this.当前边框色=this.标记数组[this.当前激活标签序号]["borderColor"]
                this.当前文字色=this.标记数组[this.当前激活标签序号]["color"]
                this.当前锚文本=this.标记数组[this.当前激活标签序号]["anchor"]
            }
            },
            数据源id:async function(val){
                this.初始化(val)
            }
        },
        methods:{
            
            黏贴内容: function($event){
                let clipboardData = $event.clipboardData

                if (!(clipboardData && clipboardData.items)) {
                return;
            }
            for (var i = 0, len = clipboardData.items.length; i < len; i++) {
                var item = clipboardData.items[i];
                if (item.kind === "string" && item.type == "text/plain") {
                    item.getAsString(str=>{
                        console.log(str)
                         this.解析剪贴板内容(str+"")
                        }
                        )
                } 
                }
            },
            解析剪贴板内容:async function(str){
                let 锚文本 = await 获取思源块链接锚文本(this.思源伺服ip,this.apitokn,str)
                if(锚文本!="解析错误"){
                    let 空标签对象={
                        "def_block":str,
                        "anchor":"",
                        "top":window.pageYOffset+this.当前鼠标坐标.y,
                        "left":window.pageXOffset+this.当前鼠标坐标.x,
                        "width":100,
                        "height":100,
                        "backgroundColor":"yellow",
                        "borderColor":"red",
                        "showhandler":false,
                        "color":"balck",
                        "folded":false
                    }
                    this.标记数组.push(空标签对象)

                }
                else{
                    let 空标签对象={
                        "def_block":"",
                        "anchor":str,
                        "top":window.pageYOffset+this.当前鼠标坐标.y,
                        "left":window.pageXOffset+this.当前鼠标坐标.x,
                        "width":100,
                        "height":100,
                        "backgroundColor":"yellow",
                        "borderColor":"red",
                        "showhandler":false,
                        "color":"balck",
                        "folded":false
                    }
                    this.标记数组.push(空标签对象)

                }
            },
            展开链接面板:async function(index){
                let id = this.标记数组[index]["def_block"]
                let 反向链接列表 = await this.以id获取反向链接(id)
                this.当前反向链接列表 = 反向链接列表["data"]
                this.当前反向链接列表["index"]=index
                console.log(this.当前反向链接列表)
            },
            初始化:async function(val){
                if(this.$挂件模式()){
                    this.挂件自身元素=window.frameElement.parentElement.parentElement
                    let 图片源="http://"+this.思源伺服ip+this.挂件自身元素.getAttribute("custom-data-assets")
                    if(图片源){
                    this.图片格式=图片源.substring(图片源.lastIndexOf("."),图片源.length).replace('"',"")}
                    this.内部图片源= 图片源+""
                    this.获取标记数组()
                    this.$获取思源主界面主题(this.主界面)
                    if(this.挂件自身元素.getAttribute("custom-resize")){
                    this.图片缩放倍数=parseFloat(this.挂件自身元素.getAttribute("custom-resize")).toFixed(2)}
                    this.数据源id=this.挂件自身元素.getAttribute("data-node-id")}
                else{
                    let url参数 = this.$解析url(window.location.href)
                    console.log(url参数)
                    let 数据源id = url参数.id
                    if (val){数据源id = val}
                    console.log(数据源id)

                    let 临时数组 = await this.$以id数组通过sql形式获取思源块信息数组([数据源id])
                  //  let 数据源属性 = await 以id获取思源块属性(this.思源伺服ip,this.apitoken,数据源id)
                   let 数据源属性 = await this.获取块属性(数据源id)
                   console.log(数据源属性)
                   if(数据源属性){
                    this.数据源id =数据源id
                    this.内部图片源 = 数据源属性["custom-data-assets"]
                    this.标记数组 = JSON.parse(this.$html转义(数据源属性["custom-tagarray"]))
                    console.log(this.标记数组)
                    if(数据源属性["custom-resize"]&&数据源属性["custom-resize"]>0){
                    this.图片缩放倍数 = parseFloat(数据源属性["custom-resize"]).toFixed(2)
                    console.log(数据源属性["custom-resize"])
                    }
                    console.log(数据源属性)}
                }
            },
            定位至标记(标记对象){
                window.scrollTo(标记对象.left-(window.innerWidth/2),标记对象.top-(window.innerHeight/2))
            },
            以id获取反向链接:async function(val){
                if(val){
                    let id = val.replace("((","").replace("))","")
                    let 当前反向链接列表= await 以id获取反向链接(this.思源伺服ip,this.apitoken,id)
                    return 当前反向链接列表
                }
            },
            以id获取块内容:async function(id){
                let 数据源id = this.挂件自身元素.getAttribute("data-node-id")
                let 临时属性数组 = await this.$以id数组通过sql形式获取思源块信息数组([数据源id])
                let 挂件自身属性 =  临时属性数组[0]
                let 当前文档id=挂件自身属性["root_id"]
                let 外部id数组=[数据源id,当前文档id]    
                let 块内容 = await  this.$以id获取块内容(外部id数组,id)
                console.log(块内容["blocks"][0])
            },

            打开右键菜单(){
                this.显示菜单=true
            },
            获取标记数组(){
                let tempArryStr=""
                if(this.挂件自身元素.getAttribute("custom-tagarry")){
                     tempArryStr= this.挂件自身元素.getAttribute("custom-tagarry")}
                if(this.挂件自身元素.getAttribute("custom-tagarray")) {
                    
                      tempArryStr= this.挂件自身元素.getAttribute("custom-tagarray")}
                try{
                tempArryStr = this.$html转义(tempArryStr)

                this.标记数组=JSON.parse(tempArryStr)
                this.图片缩放倍数=this.挂件自身元素.getAttribute("custom-resize")
                }catch(e){}
                console.log(this.标记数组)
                this.标记数组=JSON.parse(JSON.stringify(this.标记数组))
                
            },
            移除标签(标号){
                this.标记数组.splice(标号,1)
                this.标记数组=JSON.parse(JSON.stringify(this.标记数组))

            },
            开始拖拽(event){
                let index = event.target.getAttribute("index")
                this.当前激活标签序号 = index
                this.当前激活标签类型 = event.target.getAttribute("class")
            },
            结束拖拽(event){
                let 当前标记对象 = this.标记数组[this.当前激活标签序号]
                if(当前标记对象["width"]<100){当前标记对象["width"]=100}
                if(当前标记对象["height"]<100){当前标记对象["height"]=100}
                if(当前标记对象["top"]<50){当前标记对象["top"]=50}
                if(当前标记对象["left"]<100){当前标记对象["left"]=100}
                this.当前激活标签序号 = null
                this.当前激活标签类型 = ""
                this.标记数组=JSON.parse(JSON.stringify(this.标记数组))
            },
            计算坐标(event){
                this.当前鼠标坐标.x=event.clientX
                this.当前鼠标坐标.y=event.clientY
                if(this.当前激活标签序号){
                    if(this.当前激活标签类型=="top-left-handler"){
                        let 当前标记对象 = this.标记数组[this.当前激活标签序号]
                        let X距离 = window.pageXOffset+ event.clientX-当前标记对象["left"]
                        let Y距离 = window.pageYOffset+ event.clientY-当前标记对象["top"]
                        
                        this.标记数组[this.当前激活标签序号]["top"]=window.pageYOffset+event.clientY
                        this.标记数组[this.当前激活标签序号]["left"]=window.pageXOffset+event.clientX
                        当前标记对象["width"]= 当前标记对象["width"]-X距离
                        当前标记对象["height"]=当前标记对象["height"]-Y距离
                    }
                    if(this.当前激活标签类型=="bottom-right-handler"){
                        let 当前标记对象 = this.标记数组[this.当前激活标签序号]
                        let X距离 =window.pageXOffset+   event.clientX-当前标记对象["left"]-当前标记对象["width"]
                        let Y距离 =window.pageYOffset+  event.clientY-当前标记对象["top"]-当前标记对象["height"]
                        当前标记对象["width"]=当前标记对象["width"]+X距离
                        当前标记对象["height"]=当前标记对象["height"]+Y距离
                    }
                    if(this.当前激活标签类型=="el-icon-rank"){
                        let 当前标记对象 = this.标记数组[this.当前激活标签序号]
                  
                        this.标记数组[this.当前激活标签序号]["top"]=window.pageYOffset+event.clientY-10
                        this.标记数组[this.当前激活标签序号]["left"]=window.pageXOffset+event.clientX-10
                    }
                    
                    if(this.当前激活标签类型=="lableFolded el-popover__reference"){
                        let 当前标记对象 = this.标记数组[this.当前激活标签序号]
                        this.标记数组[this.当前激活标签序号]["top"]=window.pageYOffset+event.clientY-7.5
                        this.标记数组[this.当前激活标签序号]["left"]=window.pageXOffset+event.clientX-7.5
                    }
                    
                }
                this.保存计数器=this.保存计数器+1
                this.保存标记()
                this.计算可见性()
                this.窗口大小={"width":window.pageXOffset+event.clientX+window.innerWidth,"height":window.pageYOffset+event.clientY+window.innerHeight}
            },
            保存标记: async function (){
                if(this.保存计数器>=50){

                    let id = this.数据源id
                设置思源块属性(this.思源伺服ip,this.apitoken,id,"tagarray",JSON.stringify(this.标记数组))

                this.保存计数器=1
                }     
            },
            计算可见性:async function(){
                let 不可见标记数组 = []
                for(i=0;i<this.标记数组.length;i++){
                    let 标记 =  JSON.parse(JSON.stringify(this.标记数组[i]))
                    标记.index = i
                    
                    if(window.pageYOffset>标记.top||window.pageYOffset+window.innerHeight <标记.top||window.pageXOffset>标记.left||window.pageXOffset+window.innerWidth<标记.left){
                        不可见标记数组.push(标记)
                        }    
                    }
                
                this.不可见标记数组 = Array.from(new Set(不可见标记数组))
            },
            设定当前标记(){
                let that= this
                this.$set(this.标记数组[that.当前激活标签序号],"def_block", this.当前块引)
                this.标记数组[that.当前激活标签序号]["backgroundColor"]=this.当前背景色
                this.标记数组[that.当前激活标签序号]["borderColor"]=this.当前边框色
                this.标记数组[that.当前激活标签序号]["color"]=this.当前文字色
                this.标记数组[that.当前激活标签序号]["anchor"]=this.当前锚文本
                this.当前激活标签序号=null
                this.当前块引=""
                this.标记数组=JSON.parse(JSON.stringify(this.标记数组))

            },
            增加标记(){
                if(this.定点添加){
                let 空标签对象={
                        "def_block":"",
                        "anchor":"锚文本为空时显示来源块内容",
                        "top":window.pageYOffset+this.当前鼠标坐标.y,
                        "left":window.pageXOffset+this.当前鼠标坐标.x,
                        "width":100,
                        "height":100,
                        "backgroundColor":"yellow",
                        "borderColor":"red",
                        "showhandler":false,
                        "color":"balck",
                        "folded":true
                    }
                this.标记数组.push(空标签对象)
                this.标记数组=JSON.parse(JSON.stringify(this.标记数组))
                this.定点添加=false
                }
            },

            获取块属性:async function(id){
                let that =this
                当前块信息 = await that.通过id获取文档属性(id)
                当前块内容对象 = await  以id获取思源块信息(that.思源伺服ip,that.apitoken,id )
                console.log("当前块信息",当前块信息)
                let 当前块属性 = 当前块信息["ial"]
                当前块信息 = 当前块信息
                 
                当前块属性['type']=当前块内容对象['type']
                return 当前块属性
             //   console.log("当前块属性",that.当前块内容对象)
              ////  console.log("当前块解析属性",that.当前块解析属性)
              //  console.log("当前块信息",that.当前块信息)
              //  console.log("当前块内容对象",that.当前块内容对象)
            },
            通过id获取文档属性:async function(id){
                let that = this 
                let obj ={}
                await axios({
                    method:"post",
                    url:'http://'+that.思源伺服ip + '/api/block/getDocInfo',
                    headers:{'Authorization': 'Token '+ that.apitoken },
                    data:({"id":`${id}`})
                    }).then(
                        result=>{
                         //   console.log("aaa",result.data)
                            
                            obj = result.data["data"]

                           
                        }
                    )
                return obj
            },
            打开新窗口(){
                this.$窗口内打开超链接(`http://${this.思源伺服ip}/widgets/cc-image-tag/?id=${this.数据源id}`)
            }
            
        },
            
    })
</script>
<style>
    .el-popover.tagpoper,.el-popover .el-popper.tagpoper{
        padding:0;
        background-color: transparent;
        border:none
    }
    .el-icon-browser{
        background:url("/widgets/cc-baselib/icons/browser-o.svg")  center no-repeat ;
        background-size:contain;
    }
    .el-icon-browser::before{
        content: "\8d3a";
        font-size: 14px;
        visibility: hidden;
    }
</style>